<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="myaccountant.gobinda.cse.ju.org.myaccountant10">

    <!-- for taking picture with the camera -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/titleForShowAccountListActivity"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <activity
            android:name=".show_account_list_feature.ShowAccountListActivity"
            android:launchMode= "singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name=".add_account_feature.AddAccountActivity"
            android:launchMode= "singleInstance">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".show_account_list_feature.ShowAccountListActivity" />
        </activity>


        <activity
            android:name=".edit_account_feature.EditAccountActivity"
            android:launchMode= "singleInstance">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".show_account_list_feature.ShowAccountListActivity" />
        </activity>


        <activity
            android:name=".take_image_feature.TakeImageActivity"
            android:launchMode= "singleInstance">
        </activity>


        <activity android:name=".show_account_transaction_feature.ShowAccountTransactionActivity"
            android:launchMode= "singleInstance">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".show_account_list_feature.ShowAccountListActivity" />
        </activity>


        <activity android:name=".add_transaction_feature.AddTransactionActivity"
            android:launchMode= "singleInstance">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".show_account_transaction_feature.ShowAccountTransactionActivity" />
        </activity>

    </application>

</manifest>